.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AppLogin {

}

a {
    display: block;
}

.notification {
  background-color: #04151F;
  height: 6rem;
  color: #FAFAFF;
  padding: 2px;
  border-radius: 0px 0px 3px 3px;
}

.top-circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid #fff;
  position: relative;
  left: 1rem;
 }

 .noTop {
   position: relative;
   top: -3.5rem;
   left: 5rem;
 }

 .githubPic {
   width: 30%;
   border-radius: 50%;
   border: 5px solid #484D6D;
 }

 .login {
   font-weight: 600;
   font-size:  2.5rem;
 }
 .gituser {
   position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
 }

 .userInfo, .title{
   position: relative;
   left: 40px;
 }

 .emChat {
   font-size: 12px;
   position: relative;
   top: -20px;
   left: 8%;
 }

 .strongChat {
   position:relative;
   top: -20px;
   left: 3.5%;
 }

 /*.image-circle {
  border-radius: 50%;
  width: 50%;
  left: 25%;
  top: 10px;
 }*/
 /*This is not working*/
